<!DOCTYPE html>
<html>
<head>
    <title>
        Quote1
    </title>
    <link rel="stylesheet" href="/public/style/style.css">
</head>
<body>
    <h1>
        <%= "Monty Python - The Black Knight"%>
    </h1>
    <p>
        <%= "It's just a flesh wound."%>
    </p>
    <ul>
        <% links.forEach((link) => { %>
          <li>
            <a href="<%= link.url %>"><%= link.label %></a>
          </li>
        <% }); %>
      </ul>
</body>
</html>