<!DOCTYPE html>
<html>
<head>
    <title>
        Quote2
    </title>
</head>
<body>
    <h1>
        <%= "Zoolander"%>
    </h1>
    <p>
        <%= "What is this? A center for ants?"%>
    </p>
    <ul>
        <% links.forEach(link => { %>
          <li>
            <a href="<%= link.url %>"><%= link.label %></a>
          </li>
        <% }); %>
      </ul>
</body>
</html>